[Desktop Entry]
Name[it]=Golden Scrabble
Name[es]=Scrabble dorado
Name[fr]=Golden Scrabble
Name[ar]=سكرابل الذهبية
Name[de]=Golden Scrabble
Name[nl]=Gouden Scrabble
Name=Golden Scrabble
Comment[it]=Gioco di parole divertente e utile.
Comment[es]=Juego de crucigramas divertido y útil.
Comment[fr]=Jeu de mots croisés amusant et utile.
Comment[ar]=لعبة كلمات متقاطعة مسلية ومفيدة.
Comment[de]=Kreuzworträtselspiel amüsant und hilfreich.
Comment[nl]=Kruiswoordpuzzelspel - vermakelijk en nuttig.
Comment=Crossword puzzle game amusing and useful.
Exec=gscrabble
Icon=gscrabble
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Islamic-Software;GTK;Game;
StartupNotify=true
