Source: gscrabble
Section: web
Priority: extra
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 debhelper (>= 11),
 dh-exec,
 dh-python,
 python3-pkg-resources,
Build-Depends-Indep:
 python3
X-Python3-Version: >= 3.2
Standards-Version: 3.9.8

Package: gscrabble
Architecture: all
Pre-Depends:
 dpkg (>= 1.15.7.2)
Depends: python3, python3-gi, gir1.2-gtk-3.0, gir1.2-gstreamer-1.0,
 ${misc:Depends},
 ${python3:Depends}
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-ar
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-de
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-en
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-es
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-fr
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-it
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-nl
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.

Package: gscrabble-ru
Architecture: all
Depends: gscrabble
Description: downloader of videos from YouTube and other sites
 youtube-dl is a small command-line program to download videos from
 YouTube.com and other sites that don't provide direct links to the
 videos served.
